/*字體顏色*/
#producttitle p ,#productdescript p, .prodictmessage>.title{
    font-family: '微軟正黑體 Light', monospace;
    color: #e4002b;
    font-weight: bolder;

}

#shopProduct{
width: 1100px;
    height: 1250px;
    margin: 10px auto;
}
#producttitle{
	margin-top:75px;
    height: 65px;
    text-align:center;
}


#Productcontext{
    width: 100%;
    height: 350px;
}
#productpicture {
    border-style:solid;
    align-items:center;
    height: 350px;
    width: 35%;
    float: left;
    display:flex;
    justify-content:center;
    border-color: #f9f9f9;

}
#productpicture img{
    width: 320px;
    height: 270px;

}
#productdescript{
	margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 65%;
}
#descript1{
	height:200px;
	margin:0px;
}

#descript2{
	height:100px
	margin: 0px;
    
}
#descript3{
	height:100px;
	margin: 0px;
    
}

.prodictmessage{
    margin-top: 60px;
    height: 700px;
    width: 100%;
    background-color: #f9f9f9;

}
.prodictmessage{
    font-size: 25px;

}
.prodictmessage .title{
     width: 100%;
  height: 60px;
    padding-top: 25px;
     padding-left: 70px;

}
.hrdiv{
	margin-top:-90px;
    height: 40px;

}
.hrdiv hr{
    margin-left: 50px;
    width: 1000px;
height: 5px;
    background : #e4002b;
}
prodictmessage>.context {
    height: 700px;
    width: 100%;
    background-color: #7d64ff;
}
    #carbtnp{
        height:60px;
        width: 350px;
        padding-top: 20px;
    }
    #carbtnp div{

        height: 50px;
    }
    #carbtnp #plusmun,#carbtnp #decmun{

        margin: 0px;
        width: 22%;
        height: 35px;
border-radius: 5px;

    }
    #carbtnp #countmun{
        width: 50%;
        height: 35px;
text-align: center;
font-size: 20px;
    }
    #carbtnp button,input{
        float: left;

    }
    
    /*購物車確認紐*/
    
    
        #buymessage{
        margin-top: 20px;
        height: 150px;
    }
    #buymessage div:nth-child(3){
        padding-top: 20px;
        width: 100%;
        margin-top: 10px;
        height: 70px;
        background-color: #34ce57;
    }
    #buymessage div:nth-child(3) button{
width: 140px;

    }
    #buymessage div:nth-child(3) button:nth-child(2){
        margin: 0px;
        float: right;
    }
    
