body{
    font-family: '微軟正黑體';

}

#shopTitle{
    width: 1100px;
    height: 150px;
    margin: 0 auto;
}
hr{
    width: 1100px;
    height:4px;
    border: 0;
    background : #e4002b;
    margin: 0 auto;

}
.foodpronpicture{
    width: 200px;
    height: 100%;
}
.foodpronpicture img{
    width: 75%;

}
#progress-rate{
    padding-top: 40px;
    width: 1100px;
    height: 100px;
    margin: 1px auto;
}
.progesssize{
    height: 60px;
}

#showmember{
    height: 30px;
    width: 1100px;
    margin: 0px auto;
}
.active{
}
 font{
    color: #e4002b;
    font-weight: bolder;
}
#checkboxwithpeoduct{
    background-color: #c9c9c9;
    margin-top: 10px;
    width: 1100px;
    height: 40px;
    border-radius: 6px;
    margin-top: 10px;
}

#checkboxwithpeoduct table {
    width: 100%;
    border-collapse: collapse;
    border: 0px solid #999;

}
#productcartList table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #999;

}
#productcartList td{
border-bottom: 1px  solid  #d6d6d6;
}
#productcartList tr:last-child td{
    border-bottom:0px
}


#checkboxwithpeoduct  table td {
    border-top: 0;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 0;
}
#checkboxwithpeoduct tr:last-child td{border-bottom: 0;}
#checkboxwithpeoduct tr td:last-child{border-right:none;}



#checkboxwithpeoduct{
    margin: 0 auto;
}
.checkalltd{
    width: 50px;
}


 table td:nth-child(2){
    width: 60%;
}
table td:nth-child(3),table td:nth-child(5){
    width: 80px;
}
table td:nth-child(4){
	    width: 100px;
	
	
}
.removebtn{
	width: 100px
}

#producttable td:nth-child(3),#producttable td:nth-child(4),#producttable td:nth-child(5){
    padding-left: 5px;
}
#productcartList tr{
    height: 150px;

}
tr td:first-child{
    width: 50px;
    height: 40px;
}
#productcartList{
    margin: 15px auto 0px;
    width: 1100px;
    background-color: #f9f9f9;

}

#Cardetail{
    border-radius: 0px 0px  20px 25px;
    background-color: #aeaeae;
    margin: 0 auto;
    height: 160px;
    width: 1100px;

}
.calcheck{
    margin-top: 0px;
    width: 450px;
    height: 100%;
    float: right;
}
.calcheckmessage{
	margin: 0px
	
}
.checkbtncontext{
	margin-top: 80px;
width: 1094px;
height:55px;
	
}
#backProductpage{
	
	float:left;
}
#checkbtn{
	margin:0;
	float:right;
	
}

.calcheck {
    text-align: left ;
    font-size: large;

}
.calcheck div{
	float: right;
}



#carbottom{
    margin-top: 15px;
    width: 100%;
    height: 400px;
    background-color: #aaaaaa;

}
#checkproductall,.listindex{
    margin-top: 6px;
 margin-left: 14px;
width: 20px;
    height: 20px;

}

.calcheck input{
    font-family: "微軟正黑體 ";
}


  /*結帳葉面*/
    #carbtnp button,input{
        float: left;

    }
        #orderform{
        width: 1100px;
        height: 650px;
        margin: 10px auto;
        background-image: linear-gradient(to top,#fd4137, #e4bcc2);



    }
    
    

   .decrease,.increase{
    width:25px;
    margin: 0px
    }
    .decrease,.increase,.inputquenity{
    float: left;
    }
    
  .quenity{
  margin-top:15px;
  width:100px;
  height:40px;
              text-align: center;
  }
  
.inputquenity {
   margin :0px;
        text-align: center;
    }


