* {
	font-family: 'Noto Sans TC', sans-serif;
	outline: none;
}

#insert-recipe-container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

h3 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4;
	width: 100%;
}

button:hover {
	cursor: pointer;
}

textarea {
	resize: none;
}

.insert-recipe-main {
	width: 1080px;
	padding: 16px;
	margin: 10px auto;
	background: #FF5757;
	border-radius: 30px;
	padding-left: 60px;
}

.navi {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
	width: 70px;
	margin-left: 20px;
}

.navi-button, .navi button {
	display: inline-block;
	width: 100%;
	height: 50px;
	background-color: white;
	color: #FF5757;
	text-shadow: none;
	box-shadow: 2px 3px 3px #666;
	margin-bottom: 20px;
	font-size: 16px;
	border-radius: 10px;
	position: sticky;
	border: none;
}

.navi-button, .navi button:hover {
	cursor: pointer;
}

.insert-recipe-main-form {
	display: inline-block;
	width: 80%;
	margin: 20px;
	padding: 20px;
	background-color: #fffefe;
}

.recipe-title {
	width: 100%;
	padding: 12px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(219, 219, 219);
}

.recipe-title textarea {
	width: 100%;
	padding: 8px 4px;
	font-size: 20px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.recipe-aside {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.member_id-container {
	height: 80px;
	margin-bottom: 15px;
}

.member_id-container {
	width: 100%;
}

.member_id-container textarea {
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
	text-align: start;
	padding: 4px 8px;
	height: 36px;
	width: 95%;
}

.recipe-aside-image {
	width: 100%;
	height: 216px;
	overflow: hidden;
}

.recipe-aside-image:hover {
	cursor: pointer;
}

.recipe-aside-image img {
	width: 95%;
	height: 219px;
}

.recipe-aside-image input {
	width: 100%;
	height: 24;
	display: block;
}

.recipe-description {
	width: 95%;
	height: 205px;
	margin-top: 30px;
}

.recipe-description textarea {
	width: 100%;
	height: 130px;
	resize: none;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.edit-recipe-aside {
	width: 49%;
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
}

.cook-time, .recipe-type, .recipe-style {
	margin-bottom: 20px;
	width: 100%;
}

.recipe-stye h3 {
	display: inline-block;
	width: 25%;
	height: 32px;
}

.recipe-stye input {
	width: 70%;
	padding: 5px 10p;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.cook-time-option, .recipe-type select, .recipe-style select {
	width: 100%;
	height: 32px;
	padding: 5px 10p;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.ingredient-group {
	width: 100%;
	margin-bottom: 15px;
}

.ingredient-group-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 46px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(219, 219, 219);
}

.recipe-ingredient-row-name {
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	padding: 4px 8px;
	width: 45%;
	height: 36px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.recipe-ingredient-row-quantity {
	display: inline-block;
	width: 55%;
	padding-left: 15px;
}

.recipe-ingredient-row-quantity input {
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	padding: 4px;
	width: 35%;
	height: 36px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.recipe-ingredient-row-quantity select {
	width: 60%;
	height: 36px;
	padding: 5px 10p;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
}

.recipe-ingredient-delete {
	display: inline-block;
	width: 12%;
	height: 30px;
	margin-left: 2px;
	border: 1px solid rgba(255, 255, 255, 0);
	background-image: url("../../../image/icon/delete.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgba(255, 255, 255, 0);
}

.recipe-ingredient-delete:hover {
	cursor: pointer;
}

.recipe-ingredient-add {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	border: 1px dashed #41aaf0;
	color: #41aaf0;
	background-color: #fff;
	margin-top: 10px;
	text-align: center;
}

.recipe-ingredient-add:hover {
	cursor: pointer;
}

.reccipe-step {
	width: 100%;
	margin-top: 20px;
}

.reccipe-step h3 {
	width: 100%;
	border-bottom: 1px solid black;
}

.reccipe-step-item {
	width: 100%;
	border-bottom: 1px solid rgb(219, 219, 219);
	height: 160px;
	padding: 10px 0;
}

.reccipe-step-item-header {
	align-items: center;
	width: 100%;
	height: 48px;
}

.reccipe-step-item-header button {
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 20px;
	margin-left: 5px;
	border: 1px solid rgba(255, 255, 255, 0);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: rgba(255, 255, 255, 0);
}

.reccipe-step-item-add {
	background-image: url("../../../image/icon/add.png");
}

.reccipe-step-item-remove {
	background-image: url("../../../image/icon/delete.png");
}

.reccipe-step h4 {
	display: inline-block;
	color: #706864;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.6;
	vertical-align: middle;
	width: 90%;
	padding-left: 10px;
}

.reccipe-step-item-content-textarea {
	display: block;
	width: 100%;
	height: 72px;
	padding: 4px 8px;
	border: 1px solid rgb(219, 219, 219);
	border-radius: 2px;
	overflow-y: hidden;
	margin-bottom: 10px;
	font-size: 16px;
}

.errorMess {
    width: 24%;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    margin-top: 240px;
    position: fixed;
    left: 6px;
    border-radius: 5px;
    top: -52px;
    color: white;
    box-shadow: 3px 3px 4px 3px #AAA;
    background: #aaaaaaad;
}