

.addPageTitle{
	
	
	width: 1110px;
	height: 120px;
margin: 20px auto 90px;	
}
.productaddform label{
color: white;

}
.product-upatefrom{
background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
width: 


}
.diettable td{
color: white;


}
.productaddform{
	margin :30px auto;
width: 1100px;
background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);

}