.back-endlefecotext{
    margin-top: 7px;
    width: 200px;
    height: 500px;
    background-image: linear-gradient(to top,#fd4137, #e4bcc2);

    border-radius: 29px;
}

#leftMenu{
    margin-left: 15px;
}
#leftMenu, #leftMenu ul { list-style:none; width:15em; }
#leftMenu span{
	   font-size: 20px;
    color: #707070;
    display:block; font-weight:bold; padding:0.5em 1em; text-decoration:none;
    cursor: pointer;
}
#leftMenu a {
    font-size: 20px;
    color: #707070;
    display:block; font-weight:bold; padding:0.5em 1em; text-decoration:none;
}
#leftMenu ul a {
    font-family: 微软雅黑;
    font-weight: bolder;
    margin-left: 20px;
    font-size: 17px;
    color: #3e3e3e;
    font-weight:normal; text-decoration:none;
}
#leftMenu ul a:hover {   color: #E4002B;
}
/*表格顏色*/
.showlist:nth-child(odd){
background-color: #F5E3E2;

}


